* {
    box-sizing: border-box;
}

html {
    line-height: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: $clr5;
    color: $clr6;
    font-family: $fnt-os-4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: 'Open-Sans-4', sans-serif;
    font-weight: 500;
    line-height: 1.2em;
    margin: 0;
}

a,
button {
    outline: none;
    border: 0;
    text-decoration: none;
    cursor: pointer;
}

input {
    outline: none;
}

ul, li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}