.logo {
    content: url(../../images/logo.svg);
    width: 80px;
}

.pepolewithfile-icon {
    content: url(../../images/pepolewithfile.svg);

}

.security-icon{
    content: url(../../images/security.svg);
}

.files-icon{
    content: url(../../images/files.svg);
}
.real-time-icon{
    content: url(../../images/real-time.svg);
}
.desktop-mobile-icon{
    content: url(../../images/desktop-mobile.svg);
}

.pepole-messege-icon{
    content: url(../../images/pepole-messege.svg);
}

.arrow-blue-icon{
    content: url(../../images/arrow-blue.svg);
}


.bruce-icon{
    content: url(../../images/bruce.svg);

}

.stish-icon{
    content: url(../../images/stish.svg);

}

.iva-icon{
    content: url(../../images/iva.svg);
}

.quote-icon{
    content: url(../../images/bg-quotes.png);
}

.bg-layout-desktop{
    content: url(../../images/bg-curvy-desktop.svg);
}

.bg-layout-mobile{
    content: url(../../images/bg-curvy-mobile.svg);
}

.facebook-icon{
    content: url(../../images/facebook.svg);
}

.tweeter-icon{
    content: url(../../images/tweeter.svg);
}

.instagram-icon{
    content: url(../../images/instagram.svg);
}

.location-icon{
    content: url(../../images/location.svg);
}

.phone-icon{
    content: url(../../images/phone.svg);
}

.email-icon{
    content: url(../../images/email.svg);
}
