 @font-face {
    font-family: 'Raleway-r';
    src: url(../../fonts/Raleway/Raleway-Regular.ttf);
}

 @font-face {
    font-family: 'Raleway-7';
    src: url(../../fonts/Raleway/Raleway-Bold.ttf);
}
 
 @font-face {
    font-family: 'Open-Sans-7';
    src: url(../../fonts/Open-Sans/OpenSans-Bold.ttf);
}

 @font-face {
    font-family: 'Open-Sans-4';
    src: url(../../fonts/Open-Sans/OpenSans-Regular.ttf);
}


