.nav-content-wrapper {
    background-color: $clr1;

    .logo {
        width: 175px;;
        margin-right: 85px;
        margin: 75px 0px;
    }

    .links {
        font-family: $fnt-realway-r;
        font-size: 16px;
        width: 270px;;
        
        > * {
            align-self: center;
            color: $clr6;
        }
    }
}

.nav-content-wrapper {
    @include for-narrow-layout {
        .logo {
            width: 80px;
            margin: 25px 85px 25px 0px;
        }
        .links {
            font-size: 12px;
        }
    }
}
