footer {
    background-color: $clr4;
    padding: 170px 0px 100px 40px;

    .logo {
        position: absolute;
        top: -33px;
        transform: translateY(-100%);
        margin-bottom: 40px;
        width: 176px;
    }

    .details {
        position: relative;
        width: 100%;

        .desc {
            font-family: $fnt-os-4;
            font-size: 16px;
            line-height: 24px;
        }

        .footer-links {
            margin-right:  44px;

            > ul:not(:last-child) {
                margin-right:  80px;
            }

            li {
                width: max-content;

                &:not(last-child) {
                    margin-bottom: 16px;
                }
            }
        }

        .location-container {
            // margin-right:  80px;

            .icon {
                height: min-content;
            }
            .location-desc {
                max-width: 339px;
                font-family: $fnt-os-4;
                font-size: 16px;
                line-height: 24px;
            }
        }

        .icon {
            margin-right:  23px;
        }

        .contact-us {
            margin-right: 60px ;

            > *:not(:last-child) {
                margin-bottom: 23px;
            }
        }

        .social-networks {
            align-items: baseline;

            > *:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}

footer {
    @include for-narrow-layout {
        padding: 165px 8px 46px 8px;

        .details {
            flex-direction: column;

            .footer-links {
                margin-right: 0;
                margin-bottom: 85px;
                flex-direction: column;

                > ul:not(:last-child) {
                    margin-right: 0;
                    margin-bottom: 50px;
                }

                li {
                    width: max-content;

                    &:not(last-child) {
                        margin-bottom: 16px;
                    }
                }
            }

            .location-container {
                margin-right: 0px;
                margin-bottom: 18px;
                
                
                .icon {
                    height: min-content;
                }
                .location-desc {
                    max-width: 339px;
                    font-family: $fnt-os-4;
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            .icon {
                margin-right: 23px;
            }
            .contact-us {
                margin-right: 0px;
                margin-bottom: 84px;
                
                > *:not(:last-child) {
                    margin-bottom: 20px;
                }
            }

            .social-networks {
                align-items: center;
                justify-content: center;
            }
        }
    }
}
